#telegram bot
TELEGRAM_BOT_KEY=seu_token_aqui
TELEGRAM_WEBHOOK_SECRET=uma_string_secreta_aleatoria

#google generative ai
GEMINI_API_KEY=sua_chave_gemini_aqui

#supabase
DATABASE_URL=postgresql+asyncpg://usuario:senha@host:5432/postgres
